<div class="dashboard-container">
  <h2>Bienvenido, {{ userData?.first_name }} {{ userData?.last_name }}</h2>
  <p><strong>Nombre:</strong> {{ userData?.first_name }}</p>
  <p><strong>Apellido:</strong> {{ userData?.last_name }}</p>
  <p><strong>Correo electrónico:</strong> {{ userData?.email }}</p>

  <button (click)="logout()" class="btn btn-success">Cerrar sesión</button>

  <div style="margin-top: 20px;">
    <button (click)="showEdit = !showEdit" class="btn btn-primary">Editar cuenta</button>
    </div>

  <app-account-settings *ngIf="showEdit"></app-account-settings>
</div>