# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3-journal

# Entorno virtual fuera de la carpeta de BackEnd
/venv/

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Migrations
**/migrations/
!*/migrations/__init__.py

# Entornos / secretos
.env
*.env

# Node (si usás Angular o React en frontend)
node_modules/
