<div class="container">
  
    <form [formGroup]="contactForm" 
  
      (ngSubmit)="onSubmit()">


        <div class="form-group">
        <label for="name">Nombre y Apellido</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
        <label for="age">Edad</label>
        <input type="text" class="form-control" id="age" formControlName="age" required>
        <label for="email">Correo Electronico</label>
        <input type="text" class="form-control" id="email" formControlName="email" required>
        <label for="gender">Sexo</label>
        <input type="text" class="form-control" id="gender" formControlName="gender" required>
        <label for="height">Altura</label>
        <input type="text" class="form-control" id="height" formControlName="height" required>
        <label for="weigth">Peso (kg)</label>
        <input type="text" class="form-control" id="weigth" formControlName="weigth" required>
        <label for="objetivo">Objetivo</label>
        <input type="text" class="form-control" id="name" formControlName="objetivo" required>
      </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>

  </form>
  


