.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 5%;
    font-weight: bold;
  }
  
  .custom-navbar h1 {
    color: #b61f1f;
    font-size: 45px;
  }
  
  .custom-navbar ul li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .custom-navbar .a {
    color: #b62929;
    text-decoration: none;
  }
  
  .custom-navbar .a:hover {
    color: rgb(4, 31, 13);
  }
  
  .carrito-icon {
    margin-right: 20px;
  }
  
  .carrito-icon img {
    width: 30px; /* Ajusta el tamaño del ícono del carrito según sea necesario */
  }
      
  .jumbotron {
    background-color: #f8f9fa; /* Cambia el color de fondo del jumbotron */
    padding: 50px; /* Ajusta el espaciado interno del jumbotron */
    border-radius: 10px; /* Agrega bordes redondeados al jumbotron */
  }
  
  .jumbotron h1 {
    font-size: 40px; /* Tamaño de fuente para el título */
    color: #333; /* Color del texto del título */
    font-weight: bold; /* Establece el peso de la fuente del título */
  }
  
  .jumbotron p {
    font-size: 24px; /* Tamaño de fuente para el párrafo */
    color: #555; /* Color del texto del párrafo */
  }
  
  .titulo-principal {
    font-size: 35px;
    color: rgb(68, 157, 68);
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }
  
  
  .mapa {
    height: 75%;
    width: 75%;
    padding: 3em 0;
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(#ffffff, #ffffff);
  }
  
  .mapa p {
    margin: 0 0 2em;
    text-align: center;
    color: #2e6329;
    font-size: 25px;
  }
  
  div > iframe {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  }
  
  .mapa-contenido {
    width: 75%;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
  }
