<div class="carrito-wrapper">
  <h2>Carrito de Compras</h2>
  <p *ngIf="carrito.detalles_producto.length === 0">Tu carrito está vacío.</p>

  <div *ngIf="carrito.detalles_producto.length > 0">
    <table class="carrito-tabla">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of carrito.detalles_producto">
          <td>{{ producto.nombre_producto }}</td>
          <td>
            <!-- Input para modificar la cantidad -->
            <input type="number" [(ngModel)]="producto.cantidad" min="1" (change)="modificarCantidad(producto, producto.cantidad)" />
          </td>
          <td>${{ producto.precio_unitario | number: '1.2-2' }}</td>
          <td>${{ producto.total_producto | number: '1.2-2' }}</td>
          <td>
            <!-- Botón para eliminar el producto -->
            <button class="btn eliminar" (click)="eliminarProducto(producto)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="total-carrito">
      <strong>Total: ${{ carrito.total_carrito | number: '1.2-2' }}</strong>
    </div>

    <div class="acciones-carrito">
      <button class="btn realizar-pedido" (click)="irAPedido()">Realizar Pedido</button>
    </div>
  </div>
</div>
