.card-body {
    padding: 3.5em 2em;
    text-align: left;
  }
  
  .h2 {
    font-size: 45px;
    color: rgb(68, 157, 68);
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .h5 {
    font-size: 30px;
    color: rgb(68, 157, 68);
    font-weight: 600;
    margin-bottom: 25px;
    text-align: left;
  }
  
  h2 {
    font-size: 50px; /* Aumenta el tamaño del título "Carrito" */
  }
  
  p {
    margin: 0 0 0;
    color: #2e6329;
    font-size: 20px;
    text-align: left;
  }
  
  .form-group label {
    font-size: 20px;
    color: #2e6329;
    text-align: left;
  }
  
  .form-control {
    border: 0;
    background-color: #dfdfdf;
    padding: 4px;
    border-radius: 10px;
    outline-color: #449d44;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: rgb(68, 157, 68);
    border: 0;
    padding: 4px;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    margin-top: 10px;
  }
  
  .btn-secondary {
    background-color: #dfdfdf;
    border: 0;
    color: #2e6329;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .alert-danger {
    color: red;
  }
  
  .img-fluid {
    width: 65px;
    border-radius: 10px;
  }