
<footer class="footer">
    <div class="container">
      <div class="redes-sociales">
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/Aymara.Productos.Naturales" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <!-- Agrega más enlaces para otras redes sociales si es necesario -->
      </div>
      <span class="text-muted">© 2024 CodeMaster. Todos los derechos reservados.</span>
    </div>
  </footer>
  
