<div class="dashboard-admin-container">
  <h1>Dashboard Admin</h1>
  <p>Bienvenido, {{ userData?.username || 'Administrador' }}</p>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="navigateToCreate()">Gestionar Productos</button>
    <button mat-raised-button color="primary" (click)="navigateToCategories()">Gestionar Categorías</button>
    <button mat-raised-button color="warn" (click)="logout()">Cerrar Sesión</button>
  </div>
  <router-outlet></router-outlet>
</div>