<div class="container-ingresar">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="registroForm container-ingresar_formulario">
    <h3>Login</h3>
    
    <label for="email">Correo electrónico:</label>
    <input
      id="email"
      name="email"
      formControlName="email"
      type="email"
      placeholder="Correo electrónico"
      class="box-ingresar"
      autocomplete="email"
      required
    />
    <div *ngIf="submitted && loginForm.controls['email'].invalid">
      <small *ngIf="loginForm.controls['email'].errors?.['required']"class="warning">Por favor, ingresa un correo electrónico.</small>
      <small *ngIf="loginForm.controls['email'].errors?.['email']"class="warning">El formato del correo electrónico no es válido.</small>
    </div>
    
    <label for="password">Contraseña:</label>
    <input
      id="password"
      name="password"
      formControlName="password"
      type="password"
      placeholder="Contraseña"
      class="box-ingresar"
      autocomplete="current-password"
      required
    />
    <div *ngIf="submitted && loginForm.controls['password'].invalid">
      <small *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es requerida.</small>
    </div>
    
    <button type="submit" class="submit-ingresar" [disabled]="loginForm.invalid">Ingresar</button>
    
    <div *ngIf="errorMessage">
      <p class="error-message">{{ errorMessage }}</p>
    </div>
  </form>
</div>
