.container-ingresar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  width: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  min-width:500px;
}

.container-ingresar_formulario {
  min-width: 400px;
}

.registerLink,
.loginLink {
  align-self: flex-end;
}

.container-ingresar h3 {
  font-size: 45px;
  color: rgb(68, 157, 68);
  font-weight: 600;
  font-family:sans-serif;
  margin-bottom: 45px;
  text-align: center;
  box-shadow:0 0 10px -5px #fff;
  border-radius:25% 25% 10% 10%;
}

.formLogin {
  padding: 3.5em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.registroForm {
  padding: 3.5em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-ingresar {
  border: 0;
  background-color: #ffffff84;
  padding: 8px;
  min-width: 350px;
  width: 90%; 
  border-radius: 25px;
  margin-bottom: 25px;
  outline-color: #449d44;
}

.submit-ingresar {
  background-color: rgb(68, 157, 68);
  border: 0;
  padding: 8px;
  color: #fff;
  font-size: 15px;
  border-radius: 25px;
  margin: 20px auto;
  width: 100%;
}

.formLogin p {
  margin: 0 0 0;
  text-align: center;
  color: #2e6329;
  font-size: 20px;
}

.registroForm p {
  margin: 0 0 0;
  text-align: center;
  color: #2e6329;
  font-size: 20px;
}

.warning {
  color: red;
  font-size: 12px;
  margin-top: -20px;
  text-align: center;
  display: block;
  
}
