<div class="jumbotron text-center">
  <h1>Bienvenidos a Aymará Productos Naturales</h1>
  <p>Volver a lo sano, a lo rico que nos da la tierra</p>
</div>

<section class="mapa">

  <!-- QUIÉNES SOMOS -->
  <section id="quienes-somos" class="container contenido-box">
    <h2 class="titulo-principal">Quiénes Somos</h2>
    <p>Somos una tienda dedicada a proporcionar productos naturales y nutritivos para tu bienestar.</p>
  </section>

  <!-- UBICACIÓN + MAPA -->
  <section class="container contenido-box">
    <h3 class="titulo-principal">Nuestra Ubicación</h3>
    <p>Nuestro establecimiento está ubicado en el corazón de la ciudad</p>

    <div class="mapa-contenido">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3420.30009316708!2d-64.10109702368524!3d-30.990008474461145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943263a047bd9207%3A0x6226527e2835ed11!2sAymar%C3%A1%20Productos%20Naturales%20Dietetica!5e0!3m2!1ses-419!2sar!4v1694476357493!5m2!1ses-419!2sar"
        height="300"
        style="border:0; width:100%;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <p>Horarios de Atención</p>
    <p>Lunes a Sabado de 9:00am a 13:00pm y de 17:00pm a 21:00pm</p>
    <p>Descargar nuestra app <a href="https://store4.gofile.io/download/web/e19d0842-945f-4127-952f-2e49566a22c8/aymara.apk" target="_blank" rel="noopener noreferrer">Aquí</a></p>
</section>
