<nav class="nav">
  <div class="logo_nav" (click)="navigateHome()">
    <img src="../../../assets/img/Logo_Aymara-removebg-preview.png" alt="Logo">
  </div>

  <ul class="nav-links">
    <li><a (click)="navigateTo('/Home')">Inicio</a></li>
    <li><a (click)="navigateTo('/productos')">Productos</a></li>
    <li><a (click)="navigateTo('/contacto')">Contacto</a></li>
    <li><a (click)="navigateTo('/carrito')">Carrito</a></li>

    <ng-container *ngIf="!authService.isLoggedIn()">
      <li><a (click)="navigateTo('/login')">Ingresar</a></li>
      <li><a (click)="navigateTo('/registro')">Registro</a></li>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn() && userData">
      <li>
        <a (click)="navigateTo('/dashboard')" class="welcome-message">
          Bienvenido, {{ userData?.first_name || '' }} {{ userData?.last_name || '' }}
        </a>
      </li>
      <li><a (click)="logout()">Cerrar sesión</a></li>
    </ng-container>
  </ul>
</nav>
