<nav class="nav">
  <div class="logo_nav">
    <img src="../../../assets/img/Logo_Aymara-removebg-preview.png" alt="Logo" (click)="navigateHome()">
  </div>
  <ul>
    <li><a (click)="navigateTo('/Home')">Inicio</a></li>
    <li><a (click)="navigateTo('/productos')">Productos</a></li>
    <li><a (click)="navigateTo('/contacto')">Contacto</a></li>
    <li *ngIf="!authService.isLoggedIn()"><a (click)="navigateTo('/login')">Ingresar</a></li>
    <li *ngIf="!authService.isLoggedIn()"><a (click)="navigateTo('/registro')">Registro</a></li>
    <li><a (click)="navigateTo('/carrito')">Carrito</a></li>
    <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">Salir</a></li>
  </ul>
  <div *ngIf="authService.isLoggedIn() && userData">
    <a (click)="navigateTo('/dashboard')" class="welcome-message">
      Bienvenido, {{ userData?.first_name || '' }} {{ userData?.last_name || '' }}
    </a>
  </div>
</nav>
