<nav class="nav">
    <div class="logo_nav">
      <a routerLink="/Home">
        <img src="../../../assets/img/Logo_Aymara-removebg-preview.png" alt="Logo">
      </a>
    </div>
    <ul>
      <li><a class="a" routerLink="/Home">Inicio</a></li>
      <li><a class="a" routerLink="/productos">Productos</a></li>
      <li><a class="a" routerLink="/contacto">Contacto</a></li>
      <li><a class="a" routerLink="/login">Ingresar</a></li>
      <li><a class="a" routerLink="/registro">Registro</a></li>
    </ul>
  </nav>
  


