<section id="productos" class="container">
  <nav> 
    <h3 class="titulo-producto">Nuestros Productos</h3>
    <div class="navbar">
      <div class="nav-container">
        <input 
          type="text" 
          class="nav-input" 
          placeholder="Buscar productos..." 
          [(ngModel)]="buscarTexto"
        />

        

        <select class="nav-select" [(ngModel)]="filtroCategoria">
          <option value="">Todas las Categorías</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
            {{ categoria.nombre }}
          </option>
        </select>

        <button class="nav-cta" (click)="filtrarProductos()">Buscar</button>
      </div>
    </div>
  </nav>

  <div class="productos-container">
    <div *ngIf="productos.length === 0" class="no-result">
  No se encontraron productos con los filtros aplicados.
</div>
    <div class="product-card" *ngFor="let producto of productos">
      <div class="favorito-toggle-mode" (click)="toggleFavorito(producto)">
  <img 
    *ngIf="esFavorito(producto.id_producto); else noFav" 
    src="../../../assets/img/heart-filled.png " 
    alt="Favorito" 
    class="icon"
  />
  <ng-template #noFav>
    <img 
      src="../../../assets/img/heart-outline.png" 
      alt="No favorito" 
      class="icon"
    />
  </ng-template>
</div>
      <!-- <button class="favorito-toggle-mode">
        <img width="24" height="24" viewBox="0 0 24 24" class="img-mode light" src="./images/icon-text.svg">
        <img width="24" height="24" viewBox="0 0 24 24" class="img-mode dark" src="./images/icon-blacklist.svg">
    </button> -->
      <div class="product-image-container">
        <img [src]="producto.imagen" [alt]="producto.nombre" class="imagen" />
      </div>

      <div class="product-details">
        <h3 class="prod">{{ producto.nombre }}</h3>
        <p class="prod_p">{{ producto.descripcion }}</p>
        <p class="prod_p"><strong>Categoría:</strong> {{ categoriaMap[producto.id_categoria] || 'Sin categoría' }}</p>

        <!-- Solo mostrar stock y cantidad si el usuario está logueado -->
        <div *ngIf="authService.isLoggedIn()">
          <p class="prod_p"><strong>Stock:</strong> {{ producto.stock }}</p>
          <div class="cantidad-container">
            <input 
              type="number" 
              [(ngModel)]="producto.cantidad" 
              class="cantidad-input" 
              placeholder="Cantidad" 
              min="1" 
              [max]="producto.stock"
            />
          </div>
          <button 
            class="comprar-btn" 
            (click)="agregarAlCarrito(producto, producto.cantidad)" 
            [disabled]="producto.cantidad <= 0 || producto.cantidad > producto.stock"
          >
            Comprar
          </button>
        </div>

        <div class="precio">
          <div class="precio-marco">
            <strong>Precio:</strong> ${{ producto.precio }} ARS
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
